# Questa applicazione richiede la libreria GBUtils.
# Può essere richiesta a: gabriele.battaglia@gmail.com
# Oppure trovata su: https://github.com/GabrieleBattaglia/GBUtils.git
#
# This application requires the GBUtils library.
# Can be requested at: gabriele.battaglia@gmail.com
# Or found at: https://github.com/GabrieleBattaglia/GBUtils.git

python-chess>=1.9.0
python-dateutil
pyperclip
requests
numpy
